<h2>Projects</h2>
<div>
    <label>Project name:</label> <input #projectName />
    <button (click)="add(projectName.value); projectName.value=''">
        Add
    </button>
</div>
<div *ngIf="errorMessage">
    {{errorMessage}}
</div>
<ul class="clients">
    <li *ngFor="let project of projects | paginate: { itemsPerPage: 50, currentPage: page, totalItems: total }">
        <span class="badge">{{project.fldProjectID}}</span>
        <a routerLink="/projects/{{project.fldProjectID}}">{{project.fldTitle}}</a>
    </li>
</ul>
<pagination-controls (pageChange)="getProjectsByPage($event)"></pagination-controls>